.header__row-link {
  font-family: Stolzl;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1875;
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.2s;
}

.header__row-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__row-link:focus {
  outline: none;
}

@media all and (max-width: 767px) {
  .header__row-link {
    font-size: 14px;
    margin: 0 15px 15px 0;
  }

  .header__row-link:last-child {
    margin-right: 0;
  }
}
