.header__row-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media all and (min-width: 768px) {
  .header__row-links {
    width: 100%;
    padding: 0 20px;
  }
}

@media all and (min-width: 1200px) {
  .header__row-links {
    width: 50%;
  }
}

@media all and (max-width: 767px) {
  .header__row-links {
    width: calc(100vw - 40px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}
