.header__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  margin-left: auto;
}

@media all and (min-width: 768px) {
  .header__contacts {
    margin-top: 30px;
    align-self: center;
    margin-left: 0;
  }
}

@media all and (min-width: 991px) {
  .header__contacts {
  }
}

@media all and (min-width: 1200px) {
  .header__contacts {
    margin: 0;
  }
}

@media all and (max-width: 767px) {
  .header__contacts {
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    align-self: center;
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }
}
