.offer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

@media all and (max-width: 767px) {
  .offer {
    width: 100%;
    align-items: center;
  }
}
