.info__image_rectangle {
  background-color: #f86161;
  border-radius: 59px;
  width: 84.44%;
  height: 87.94%;
  top: 12%;
  right: 3%;
  z-index: 0;
}

@media all and (max-width: 767px) {
  .info__image_rectangle {
    width: 100%;
    right: 0;
  }
}
