.header__messanger {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 0.94;
  color: #ffffff;
  margin: 0;
  text-align: right;
  margin-left: 15px;
}

@media all and (max-width: 767px) {
  .header__messanger {
    font-size: 27px;
  }
}
