.offer__button {
  font-family: Stolzl;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 158.2%;
  text-align: center;
  color: #ffffff;
  max-width: 335px;
  min-width: 255px;
  height: 56px;
  border: none;
  border-radius: 12px;
  background: #f86161;
  padding: 15px 0 10px;
  box-sizing: border-box;
  margin-left: 23px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.2s;
}

.offer__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .offer__button {
    width: 100%;
    margin-left: 0;
  }
}
