.info__image_triangle {
  width: 28.46%;
  height: 22.06%;
  top: 68.97%;
  right: 60%;
  z-index: 2;
  background-image: url(../../../../images/yellow-rectangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
