.info__benefit_profit {
  justify-content: flex-start;
  background: #ffffff;
  border-radius: 15px;
  right: -48px;
  bottom: -100px;
  width: 326px;
  height: 301px;
  padding: 22px 34px 25px 24px;
}
