.offer__phone {
  border: none;
  border-radius: 12px;
  padding: 15px 65px 7px 19px;
  box-sizing: border-box;
  width: 284px;
  height: 56px;
}

::placeholder {
  font-family: Stolzl;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #bcbcbc;
}

@media all and (max-width: 767px) {
  .offer__phone {
    width: 100%;
  }
}
