.page__image {
  position: absolute;
  z-index: -1;
  background-image: url(../../../images/bubble.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 510px;
  height: 510px;
}
