.header__icon {
  width: 23px;
  height: 23px;
}

@media all and (min-width: 768px) {
  .header__icon {
  }
}

@media all and (min-width: 991px) {
  .header__icon {
  }
}

@media all and (min-width: 1200px) {
  .header__icon {
  }
}

@media all and (max-width: 767px) {
  .header__icon {
    width: 32px;
    height: 32px;
  }
}
